{
	"env": {
		"es2022": true,
		"node": true,
		"commonjs": true
	},
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"prettier",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/eslint-recommended"
	],
	"rules": {
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/no-var-requires": "off",
		"indent": ["warn", "tab", {
			"SwitchCase": 1,
			"VariableDeclarator": "first",
			"flatTernaryExpressions": true,
			"offsetTernaryExpressions": true
		}],
		"linebreak-style": ["warn", "unix"],
		"no-unneeded-ternary": "error",
		"no-var": "off",
		"no-whitespace-before-property": "error",
		"object-curly-spacing": ["warn", "always"],
		"prefer-destructuring": "warn",
		"quotes": ["error", "double", { "avoidEscape": true }],
		"semi": ["error", "never"]
	}
}
